    figure {transition: opacity 0.2s; position: relative; margin: 0; max-width: 20%;}

    figure img {width: 100%}

    figure figcaption {
        left:21px;
        top : 165px;
        white-space:nowrap;
        color: #fff;
        bottom: 20px; 
        opacity: 0;
        position: absolute; 
        text-align: center;
        width: 100%;
        transition: all .3s ease;
        z-index: 2; 
        font-family: 'Noto Sans CJK KR';
        letter-spacing:-0.02em;
    }

    figure .gallery-img {opacity: 1;transition: all 0.3s ease 0s;overflow: hidden; width:380px; height:290px; }

    figure:hover .gallery-img {background-color: rgba(0,0,0,0.6)}

    figure:hover img {transform: scale(1.1, 1.1);transition: all .3s ease;opacity: 0.15;}

    figure:hover figcaption {opacity: 1;transition: all .3s ease; }

